//colors
$primary-color:#6C25FF;
$secondary-color:#1d2226;
$color-white:#FFFFFF;
$color-light-gray:#F7F8F9;
$color-primary-gradient:#6C25FF4B;
$color-red:#DD4A3D;
$color-grey:#919191;
$color-ash:#CBCBCB;

//border colors
$border-color:#CBCBCB;

//font weights
$font-regular:400;
$font-medium:500;

//font sizes
$fs-13:13px;
$fs-14:14px;
$fs-15:15px;
$fs-16:16px;
$fs-18:18px;
$fs-28:28px;

//border radius
$br-6:6px;
$br-50-percent:50%;

//font-family
$font-Rubik:"Rubik", sans-serif;