@use "../abstracts" as a;


.homeContainer {
  height: 100vh;
  padding: 40px 19px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  .homeContent {
    width: 100%;

    h1 {
      margin: 0 0 8px;
      font-size: a.$fs-28;
      font-weight: a.$font-medium;
      color: a.$secondary-color;
      text-align: left;
      letter-spacing: 0;
      opacity: 1;
      line-height: 36px;
    }

    p {
      margin: 0 0 24px;
      font-size: a.$fs-18;
      line-height: 1.4;
      letter-spacing: 0;
      color: a.$secondary-color;
      opacity: 0.6;
    }
  }

  .homeActions {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}
