@use "../abstracts" as a;


.signupContainer {
  height: 100vh;
  padding: 40px 19px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;

  h1 {
    margin: 0 0 20px;
    font-size: a.$fs-28;
    font-weight: a.$font-medium;
    letter-spacing: 0;
    color: a.$secondary-color;
  }

  .signupForm {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 14px;

    .agencySection {
      p {
        margin: 8px 0;
        font-size: a.$fs-13;
        font-weight: a.$font-regular;
        color: a.$secondary-color;
      }

      .radioGroup {
        display: flex;
        gap: 24px;

        label {
          display: flex;
          align-items: center;
          gap: 6px;
          font-size: a.$fs-14;
          color: a.$secondary-color;
        }
      }
    }
  }
}
