@use "./abstracts" as *;

body {
  margin: 0;
  font-family: "Rubik", sans-serif;
  background:$color-white;
}

.app-wrapper {
  min-height: 100vh;
  @include flex-center;

  display: flex;
  align-items: center;
  justify-content: center;
}

.mobile-container {
  width: 375px; 
  min-height: 100vh; 
  background: #F7F8F9 0% 0% no-repeat padding-box;
  opacity: 1;
  overflow: hidden;
}

